{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body" style="margin-left: 20px;">
            
            <p>Tem a certeza que deseja aceitar a oferta?</p>

            <form action="{% url 'aceitar-oferta' item.id %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'oferta-senhorio' %}">Cancelar</a>

                <input type="submit" class="btn btn-success" name="Confirmar" value="Confirmar">
            </form>
        </div>
    </div>
</div>

{%  endblock %}